* {
       margin: 0;
       padding: 0;
   }

header,
footer {
    width: 100%;
    height: 120px;
    background-color: #000000;
    color: white;
}

h1,
h2 {
    text-align: center;
    color: #FF5733
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
    color:rgb(50, 15, 250)
  }
  .card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid rgb(50, 15, 250);
    box-shadow: 5px 5px #ff0000;
  }
  